/*   T e r m i n k a l e n d e r   */

/*   Allgemeines   */
.kal_linkbutton { cursor:pointer; text-align:left; }
.kal_bold { font-weight:bold; color:rgb(55,140,78) !important; }
.kal_boldbig { font-size:1.2em; font-weight:bold; }
.kal_transparent { margin:0; padding:0; border:none; color:inherit; background-color:transparent; }
.kal_table { background-color:inherit; }
.kal_box { padding:0.25em; border-collapse:separate; border-spacing:0.25em;
    color:rgb(5,90,28); background-color:transparent;
    border:solid 1px rgb(5,90,28); border-radius:0.25em; }
.kal_100pro { width:100%; }
.kal_basecol { color:rgb(5,90,28); }
.kal_fail { color:red; }
.kal_msg { padding:0.25em; border-collapse:separate; border-spacing:0.25em;
    color:rgb(5,90,28); background-color:rgb(155,240,178);
    border:solid 1px rgb(5,90,28); border-radius:0.25em; }
.kal_block_uebernehmen { color:rgb(55,140,78); font-weight:bold; font-style:italic; }

/*   Farbkombinationen fuer Kalenderfelder   */
.kal_col1 { padding:0.25em; border-collapse:separate; border-spacing:0.25em;
    color:rgb(5,90,28); background-color:transparent;
    border:solid 1px rgb(5,90,28); border-radius:0.25em; }
.kal_col2 { padding:0.25em; border-collapse:separate; border-spacing:0.25em;
    color:rgb(55,140,78); background-color:transparent;
    border:solid 1px rgb(55,140,78); border-radius:0.25em; }
.kal_col3 { padding:0.25em; border-collapse:separate; border-spacing:0.25em;
    color:rgb(5,90,28); background-color:rgb(80,165,103);
    border:solid 1px rgb(5,90,28); border-radius:0.25em; }
.kal_col4 { padding:0.25em; border-collapse:separate; border-spacing:0.25em;
    color:rgb(5,90,28); background-color:rgb(105,190,128);
    border:solid 1px rgb(5,90,28); border-radius:0.25em; }
.kal_col5 { padding:0.25em; border-collapse:separate; border-spacing:0.25em;
    color:rgb(5,90,28); background-color:rgb(130,215,153);
    border:solid 1px rgb(5,90,28); border-radius:0.25em; }
.kal_col6 { padding:0.25em; border-collapse:separate; border-spacing:0.25em;
    color:rgb(5,90,28); background-color:rgb(155,240,178);
    border:solid 1px rgb(5,90,28); border-radius:0.25em; }
.kal_col7 { padding:0.25em; border-collapse:separate; border-spacing:0.25em;
    color:rgb(100,15,77); background-color:transparent;
    border:solid 1px rgb(100,15,77); border-radius:0.25em; }
.kal_col8 { padding:0.25em; border-collapse:separate; border-spacing:0.25em;
    color:rgb(100,15,77); background-color:rgb(250,165,227);
    border:solid 1px rgb(100,15,77); border-radius:0.25em; }
.kal_col9 { padding:0.25em; border-collapse:separate; border-spacing:0.25em;
    color:rgb(150,150,150); background-color:transparent;
    border:solid 1px rgb(150,150,150); border-radius:0.25em; }

/*   Terminblatt   */
.kal_terminblatt { }
.kal_terminblatt th { max-width:6em; padding:0.25em; vertical-align:top; text-align:left; }
.kal_terminblatt td { padding:0.25em; vertical-align:top; text-align:left; }
.kal_terminblatt .kopf { font-size:1.2em; font-weight:bold; color:rgb(5,90,28); }

/*   Terminliste   */
.termlist_th { padding:0.3em 0.5em 0.3em 0; text-align:right; white-space:nowrap;
    font-weight:bold; vertical-align:top; border-top:solid 1px transparent; border-bottom:solid 1px transparent; }
.termlist_td { padding:0.3em 0 0.3em 0.5em; border-top:solid 1px transparent; border-bottom:solid 1px transparent; }
.termlist_textattr { font-weight:normal; }
.termlist_ort::before { content:" ("; }
.termlist_ort::after  { content:")"; }
.termlist_ausrichter::before { content:", Ausrichter: "; }
.termlist_komm::before { content:"\A"; white-space:pre; }
@media screen and (max-width:35em) {
    .termlist_th { float:left; padding:0.6em 0 0 0; text-align:left; white-space:normal; }
    .termlist_td { float:left; padding:0 0 0 1em; min-width:21em; }
    }
/*   Terminliste, ggf. Farbmarkierung nach Kategorien   */
/*   Zum Beispiel:
  .termlist_border01 { border-left:solid 3px rgb(255,0,0); }
  .termlist_border02 { border-left:solid 3px rgb(255,255,0); }
  .termlist_border03 { border-left:solid 3px rgb(0,255,0); }
  .termlist_border04 { border-left:solid 3px rgb(0,0,255); }*/
.termlist_border01 { border-left:none; }
.termlist_border02 { border-left:none; }
.termlist_border03 { border-left:none; }
.termlist_border04 { border-left:none; }
.termlist_border05 { border-left:none; }
.termlist_border06 { border-left:none; }
.termlist_border07 { border-left:none; }
.termlist_border08 { border-left:none; }
.termlist_border09 { border-left:none; }
.termlist_border10 { border-left:none; }
.termlist_border11 { border-left:none; }
.termlist_border12 { border-left:none; }
.termlist_border13 { border-left:none; }
.termlist_border14 { border-left:none; }
.termlist_border15 { border-left:none; }
.termlist_border16 { border-left:none; }
.termlist_border17 { border-left:none; }
.termlist_border18 { border-left:none; }
.termlist_border19 { border-left:none; }
.termlist_border20 { border-left:none; }
.termlist_border21 { border-left:none; }
.termlist_border22 { border-left:none; }
.termlist_border23 { border-left:none; }
.termlist_border24 { border-left:none; }
.termlist_border25 { border-left:none; }
.termlist_border26 { border-left:none; }
.termlist_border27 { border-left:none; }
.termlist_border28 { border-left:none; }
.termlist_border29 { border-left:none; }
.termlist_border30 { border-left:none; }
.termlist_border31 { border-left:none; }
.termlist_border32 { border-left:none; }
.termlist_border33 { border-left:none; }
.termlist_border34 { border-left:none; }
.termlist_border35 { border-left:none; }
.termlist_border36 { border-left:none; }
.termlist_border37 { border-left:none; }
.termlist_border38 { border-left:none; }
.termlist_border39 { border-left:none; }
.termlist_border40 { border-left:none; }
.termlist_border41 { border-left:none; }
.termlist_border42 { border-left:none; }
.termlist_border43 { border-left:none; }
.termlist_border44 { border-left:none; }
.termlist_border45 { border-left:none; }
.termlist_border46 { border-left:none; }
.termlist_border47 { border-left:none; }
.termlist_border48 { border-left:none; }

/*   Monatsmenue   */
.kal_monatsmenue { }
.kal_monatsmenue .padl { padding:0 0.5em 0 0; }
.kal_monatsmenue .padr { padding:0 0 0 0.5em; }
.kal_monatsmenue .left  { float:left; }
.kal_monatsmenue .right { float:right; }
.kal_monatsmenue .center { text-align:center; }
.kal_monatsmenue .rechts { text-align:right; }
.kal_monatsmenue .width { min-width:8,5em; max-width:8,5em; }
.kal_monatsmenue .wot { padding:0.25em; text-align:center; color:rgb(55,140,78); }
.kal_monatsmenue .kalenderwoche  { padding:0.25em; text-align:right;  color:rgb(55,140,78); }
#hatch { background-image:linear-gradient(-45deg,
    transparent 0%, transparent 10%,
    rgb(105,190,128) 10%, rgb(105,190,128) 20%,
    transparent 20%, transparent 30%,
    rgb(105,190,128) 30%, rgb(105,190,128) 40%,
    transparent 40%, transparent 50%,
    rgb(105,190,128) 50%, rgb(105,190,128) 60%,
    transparent 60%, transparent 70%,
    rgb(105,190,128) 70%, rgb(105,190,128) 80%,
    transparent 80%, transparent 90%,
    rgb(105,190,128) 90%, rgb(105,190,128) 100%); }

/*   Monats-/Wochen-/Tagesblatt, Stundenleiste, Terminfeld   */
.kal_mowotablatt { }
.kal_mowotablatt hr { margin:0; padding:0; border:none; background-color:inherit; }
.kal_mowotablatt .vis_leiste { visibility:visible; }
.kal_mowotablatt .zeitenzeile { height:0; visibility:hidden; }
.kal_mowotablatt .left  { float:left; }
.kal_mowotablatt .right { float:right; }
.kal_mowotablatt .center { text-align:center; }
.kal_mowotablatt .pad0 { padding:0 0.5em 0 0.5em; color:rgb(5,90,28); }
.kal_mowotablatt .pad1 { padding:0 0.25em 0 0.25em; vertical-align:top; text-align:right;
    white-space:nowrap; font-weight:bold; color:rgb(55,140,78); }
.kal_mowotablatt .tag { width:100%; padding:0 !important; }
@media screen and (max-width:35em) {
    .kal_mowotablatt hr { margin:0.25em; padding:1px; border:solid 1px inherit; 
        background-color:rgb(80,165,103); }
    .kal_mowotablatt .vis_leiste { visibility:collapse; }
    .kal_mowotablatt .zeitenzeile { height:inherit; visibility:visible; }
    .kal_mowotablatt .pad1 { padding:0 0.25em 0 0.25em; vertical-align:top; text-align:right; white-space:normal;
        white-space:normal; font-weight:normal; color:rgb(55,140,78); }
    }
/*   Stundenleiste   */
.kal_mowotablatt .width1 { min-width:1em; max-width:1em; }
.kal_mowotablatt .width2 { min-width:2em; max-width:2em; }
.kal_mowotablatt .lineal { line-height:0.25em; border-left:solid 1px rgb(55,140,78); }
.kal_mowotablatt .center { text-align:center; color:rgb(55,140,78); }
.kal_mowotablatt .right  { text-align:right;  color:rgb(55,140,78); }
/*   Terminfeld   */
.kal_mowotablatt .termin { white-space:nowrap; overflow-x:hidden; margin-top:0.1em; margin-bottom:0.1em;
    padding:0.25em; border-collapse:separate; border-spacing:0.25em;
    color:rgb(5,90,28); background-color:rgb(105,190,128);
    border:solid 1px rgb(5,90,28); border-radius:0.25em; }
.kal_mowotablatt .leertermin { padding:0.25em; border-collapse:separate; border-spacing:0.25em; margin-top:0.1em; margin-bottom:0.1em; }
@media screen and (max-width:35em) {
    .kal_mowotablatt .termin { white-space:normal;
        padding:0.25em; color:rgb(5,90,28); background-color:transparent; border:none; }
    }

/*   Suchmenue   */
.kal_such { }
.kal_such select, .kal_such input, .kal_such button { padding:0.1em; }
.kal_such select { width:100%; }
.kal_such .stichwort { max-width:28em; }
.kal_such .th { min-width:7em; max-width:10em; padding:0.25em; text-align:left;
    font-weight:bold; color:rgb(55,140,78); }
.kal_such .td { padding:0.25em; max-width:28em; }
.kal_such .kopf { font-size:1.2em; font-weight:bold; color:rgb(5,90,28); }
.kal_such .small { font-size:0.9em; vertical-align:text-top; }
.kal_such .filter_button { float:right; margin-top:1em; padding:0.25em; }
.kal_such .left  { text-align:left; }
.kal_such .liste { padding-left:1em; }
@media screen and (max-width:35em) {
    .kal_such .liste { padding-left:0; }
    .kal_such .th { min-width:0; }
    }

/*   Termin-Eingabeformular   */
.kal_eingabeform { text-align:left; }
.kal_eingabeform .th_einf { vertical-align:top; line-height:2em; text-align:left; font-weight:bold; }
.kal_eingabeform .td_einf { line-height:1.5em; }
.kal_eingabeform select { padding:0.25em; }
.kal_eingabeform .action { font-weight:bold; color:rgb(55,140,78); }
.kal_eingabeform .martop { margin-top:1em; line-height:3em; }
.kal_eingabeform .left { width:12em; vertical-align:top; white-space:nowrap; }
.kal_eingabeform .right { text-align:right; }
.kal_eingabeform .text { width:35em; padding:0 0.25em 0 0.25em; }
.kal_eingabeform .date { width: 8em; padding:0 0.25em 0 0.25em; }
.kal_eingabeform .time { width: 6em; padding:0 0.25em 0 0.25em; }
.kal_eingabeform .int  { width: 4em; padding:0 0.25em 0 0.25em; }
.kal_eingabeform .left2 { width:10em; vertical-align:top; white-space:nowrap; }
.kal_eingabeform .pad { padding-left:1em; text-align:left; }

/*   Formulare im Backend   */
.kal_config { }
.kal_config h4 { text-align:center; }
.kal_config ol { margin-left:1em; }
.kal_config ol li { padding-left:0.5em; }
.kal_config th { text-align:center; }
.kal_config .head { text-align:left; font-weight:bold; }
.kal_config .indent { padding:0.1em 0.1em 0.1em 1.5em; vertical-align:top; white-space:nowrap; }
.kal_config .undent { padding:0.1em 0.1em 0.1em 0.25em; white-space:nowrap; }
.kal_config .number { padding:0.25em 1em 0.25em 0.25em; text-align:right; }
.kal_config .inpint { width:4em; padding:0 0.25em 0 0.25em; text-align:right; }
.kal_config .inptxt { width:14em; padding:0 0.25em 0 0.25em; }

/*   Awesome-Font vom AddOn be_style, die benutzten Icons   */
@font-face { font-family:"FontAwesome";
    src:url("../be_style/fonts/fontawesome-webfont.eot?v=4.7.0");
    src:url("../be_style/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),
    url("../be_style/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("../be_style/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("../be_style/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("../be_style/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
    font-weight:normal; font-style:normal; }
.fa { display:inline-block; font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit; text-rendering:auto; -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale; }
.fa-calendar:before { content:"\f073"; }
.fa-search:before   { content:"\f002"; }
.fa-angle-double-left:before  { content:"\f100"; }
.fa-angle-double-right:before { content:"\f101"; }
.fa-angle-left:before  { content:"\f104"; }
.fa-angle-right:before { content:"\f105"; }